<section class="w-full h-full flex flex-col">
  <%# Import Form %>
  <%= render "import_form" %>

  <%# Search — OUTSIDE the Turbo Frame to prevent focus loss %>
  <%= render "search_form" %>

  <%# Turbo Frame: table + pagination ONLY %>
  <%= turbo_frame_tag "people_table", class: "flex flex-col flex-1 min-h-0" do %>
    <%= render "table", people: @people %>
  <% end %>
</section>
